**BANK LOAN PREDICTION**

**There are a number of challenges solved by ML/DS Algorithms, in our daily life**

**One such challenge for banking firms is- Dealing with unfit candidates for loan**

**Following are a couple of scientific approaches to identify such cases, and to prevent mammoth loss of bank revenue**

##### **Dataset**

In [ ]:
import pandas as pd

**1. Train Dataset**

**The Training dataset for building the model upon**

In [ ]:
lp = pd.read_csv("Loan-prediction1.csv")

In [ ]:
lp.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
lp.shape

(614, 13)

In [ ]:
lp.isnull().sum().sum()

149

In [ ]:
lp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
from collections import Counter
Counter(lp["Loan_Status"])

Counter({'N': 192, 'Y': 422})

**2. Test Dataset**

**The Valuation dataset for checking the quality of the model built**

In [ ]:
pl = pd.read_csv("Loan-prediction2.csv")

In [ ]:
pl.head()

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            NaN         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

In [ ]:
pl.shape

(367, 12)

##### **Data Cleaning**

1. **Imputation (Missing Values)**
2. **LabelEncoder**

In [ ]:
lp.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [ ]:
lp.isna().sum().sum()

149

In [ ]:
def df_tn(df):

  # Imputation-1

  categorical_columns = ["Gender", "Married", "Dependents", "Education", "Self_Employed", "Property_Area", "Loan_Status"]
  for cat_col in categorical_columns:
    df[cat_col].fillna(df[cat_col].mode()[0], inplace=True)

  # Imputation-2

  numerical_columns = ["ApplicantIncome", "CoapplicantIncome", "LoanAmount", "Loan_Amount_Term", "Credit_History"]
  for nume_cols in numerical_columns:
    df[nume_cols].fillna(df[nume_cols].mean(), inplace=True)

  # LabelEncoder
  
  from sklearn.preprocessing import LabelEncoder
  le = LabelEncoder()
  
  df["Gender"] = le.fit_transform(df["Gender"])
  df["Married"] = le.fit_transform(df.Married)
  df["Dependents"] = le.fit_transform(df.Dependents)
  df["Education"] = le.fit_transform(df.Education)
  df["Self_Employed"] = le.fit_transform(df.Self_Employed)
  df["Property_Area"] = le.fit_transform(df.Property_Area)
  df["Loan_Status"] = le.fit_transform(df.Loan_Status)

  # Alphanumeric deletions ( # replacings )

  del df["Loan_ID"]
  # df["Loan_ID"] = list(range(1, (len(df.Gender)+1)))
  # df.set_index(["Loan_ID"], inplace=True)
  # df.reset_index(inplace=True)

In [ ]:
df_tn(lp)

In [ ]:
lp.isna().sum().sum()

0

In [ ]:
lp.head()

   Gender  Married  Dependents  ...  Credit_History  Property_Area  Loan_Status
0       1        0           0  ...             1.0              2            1
1       1        1           1  ...             1.0              0            0
2       1        1           0  ...             1.0              2            1
3       1        1           0  ...             1.0              2            1
4       1        0           0  ...             1.0              2            1

[5 rows x 12 columns]

**"lp" is the training set**

**"pl" --> is the testing set**

In [ ]:
def df_tt(df):

  # Imputation-1

  categorical_columns = ["Gender", "Married", "Dependents", "Education", "Self_Employed", "Property_Area"]
  for cat_col in categorical_columns:
    df[cat_col].fillna(df[cat_col].mode()[0], inplace=True)

  # Imputation-2

  numerical_columns = ["ApplicantIncome", "CoapplicantIncome", "LoanAmount", "Loan_Amount_Term", "Credit_History"]
  for nume_cols in numerical_columns:
    df[nume_cols].fillna(df[nume_cols].mean(), inplace=True)

  # LabelEncoder
  
  from sklearn.preprocessing import LabelEncoder
  le = LabelEncoder()
  
  df["Gender"] = le.fit_transform(df["Gender"])
  df["Married"] = le.fit_transform(df.Married)
  df["Dependents"] = le.fit_transform(df.Dependents)
  df["Education"] = le.fit_transform(df.Education)
  df["Self_Employed"] = le.fit_transform(df.Self_Employed)
  df["Property_Area"] = le.fit_transform(df.Property_Area)

  # Alphanumeric deletions ( # replacings )

  del df["Loan_ID"]
  # df["Loan_ID"] = list(range(1, (len(df.Gender)+1)))
  # df.set_index(["Loan_ID"], inplace=True)
  # df.reset_index(inplace=True)

In [ ]:
df_tt(pl)

In [ ]:
pl.isna().sum().sum()

0

In [ ]:
pl.head()

   Gender  Married  Dependents  ...  Loan_Amount_Term  Credit_History  Property_Area
0       1        1           0  ...             360.0        1.000000              2
1       1        1           1  ...             360.0        1.000000              2
2       1        1           2  ...             360.0        1.000000              2
3       1        1           2  ...             360.0        0.825444              2
4       1        0           0  ...             360.0        1.000000              2

[5 rows x 11 columns]

##### **The Split**

In [ ]:
X = lp.drop(columns = ["Loan_Status"], axis=1)
y = lp["Loan_Status"]

In [ ]:
X_train = lp.drop(columns=["Loan_Status"], axis=1)
y_train = lp["Loan_Status"]

# X_test is the dataframe "pl"

##### **Linear Regression**

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression()

In [ ]:
lr.score(X_train, y_train)

0.3098318892624502

In [ ]:
# Prediction

y_pred = lr.predict(X_train)

In [ ]:
y_pred

array([ 7.70420889e-01,  8.32429390e-01,  8.88081289e-01,  7.89691677e-01,
        7.72009179e-01,  8.04562143e-01,  8.04171839e-01,  1.26475598e-01,
        8.55844578e-01,  7.05640128e-01,  8.89546075e-01,  8.67721101e-01,
        7.84737822e-01,  7.18761546e-01,  9.24986382e-01,  7.75520462e-01,
        6.24545373e-01,  9.55225316e-02,  7.79422056e-01,  8.44121369e-01,
        1.09118318e-01,  7.74840757e-01,  6.86078580e-02,  6.33600157e-02,
        7.15350612e-01,  8.44014163e-01,  8.36770692e-01,  8.14513701e-01,
        7.35367830e-01,  7.68400114e-01,  7.13309199e-01,  7.87950259e-01,
        7.53527201e-01,  8.44989975e-01,  6.82459879e-01,  8.46809436e-01,
        1.56885578e-01,  8.57812276e-01,  6.91298228e-01,  6.85867057e-01,
        7.86664589e-01,  7.82824719e-01,  7.73462934e-01,  8.33639684e-01,
        8.21443005e-01,  8.05188496e-01,  9.00876124e-01,  8.69647245e-01,
        1.49242647e-01,  7.51832349e-01,  8.04841431e-01,  7.78949277e-01,
        7.82025692e-01,  8.79859936e-01,  1.47172281e-01,  8.62116446e-01,
        8.49504842e-01,  8.18853264e-01,  8.44798595e-01,  7.87546662e-01,
        8.37946977e-01,  8.92328829e-01,  4.46970516e-02,  1.30817441e-01,
        6.98512130e-02,  7.80223224e-01, -4.70858003e-04,  8.32180863e-01,
        8.58915660e-01,  6.45294958e-02,  8.31238446e-01,  7.92516853e-01,
        7.77524049e-01,  1.08569056e-01,  8.37749916e-01,  7.64737660e-01,
        7.16201321e-01,  8.50454059e-01,  1.13129440e-01,  6.74010227e-01,
        7.81993199e-01,  8.54670894e-01,  8.69590239e-01,  6.88320621e-01,
        9.11023183e-01,  7.31428618e-01,  6.80255017e-01,  8.42684612e-01,
        7.55314032e-01,  8.06736165e-01,  8.28388744e-01,  8.17794629e-01,
        8.14317702e-01,  7.60353157e-01,  7.50650013e-01,  6.58956375e-01,
        8.50873140e-01,  8.67434462e-01,  8.18723555e-01,  8.21430873e-01,
        8.07116141e-01,  7.17365541e-01,  8.75188143e-01,  8.19143865e-01,
        8.56650019e-01,  8.73967543e-01,  8.49989995e-01,  6.86291874e-01,
        1.12174008e-01,  7.95633070e-01,  7.72824831e-01,  8.50391909e-01,
        2.55836789e-02,  7.78960003e-01,  7.62164383e-01,  8.58645285e-01,
        8.46978156e-01,  7.61722552e-01,  8.10284032e-01,  7.62355594e-01,
        8.04083840e-01,  8.00429426e-01, -2.16363282e-02,  8.77595706e-01,
        7.43522684e-01,  6.59218534e-01,  8.04552472e-01,  7.22806848e-01,
        1.45247238e-01,  6.92583743e-01,  5.19288591e-01,  7.68954474e-01,
        7.73345561e-01,  9.10416156e-01,  7.66383930e-01,  7.53275072e-01,
        8.73162855e-01,  8.58002577e-01,  2.53472018e-02,  7.75010850e-01,
        8.16159388e-01,  7.64220344e-01,  7.67331792e-01,  8.38743773e-01,
        8.90762195e-01,  8.40318785e-01,  9.24222061e-01,  8.88063671e-01,
        7.24972185e-01,  8.50927383e-01,  3.67621662e-02,  7.98583062e-01,
        7.46561655e-01,  7.91239935e-01,  7.94532418e-01,  7.88814467e-02,
        7.26800178e-01,  8.65145233e-01,  7.25121550e-01,  7.70477165e-01,
        7.92103680e-01,  8.35766769e-01,  1.39580848e-01,  8.28756588e-01,
        9.10779088e-01,  7.99275620e-01,  8.65563993e-01,  8.09126731e-01,
        5.07365244e-02,  8.49291351e-01,  7.70724272e-01,  7.74335550e-01,
        8.24767365e-01,  7.89821821e-01,  7.99409716e-01,  8.26325677e-01,
        8.40934034e-01, -4.54774065e-02,  8.64498476e-01, -1.98405285e-02,
        8.55584907e-02,  5.98524341e-01,  8.92249357e-01,  8.49235274e-01,
        8.81226356e-01,  8.42167841e-01,  1.56493765e-01,  7.27350600e-01,
        7.78241974e-01,  8.49446346e-01,  7.03894566e-01,  7.55180465e-01,
        8.03671336e-01,  7.72619380e-01,  7.45606902e-01,  8.25134675e-01,
        6.95547448e-01,  7.11342584e-01,  7.41102668e-01,  7.91204663e-01,
        7.85406861e-01,  4.64513742e-02,  8.38057091e-01,  8.02525177e-01,
        8.04884257e-01,  7.18193981e-01,  8.05264760e-01,  6.77547935e-01,
        7.91476625e-01,  7.58430398e-01,  7.58910248e-01,  1.46684615e-01,
        8.48874207e-01,  7.93058760e-01,  8.41131178e-01,  8.06355642e-01,
        8.20058049e-01,  8.39543575e-01,  1.70616658e-01,  7.50500884e-01,
        1.78556669e-01,  8.52833671e-01,  7.27298923e-01,  8.39784962e-01,
        8.58994014e-01,  8.29886720e-01,  8.08112891e-01,  8.29302872e-01,
        8.36581842e-01,  7.25142173e-01,  8.47503654e-01,  8.84627894e-01,
        6.60621097e-01,  7.39679452e-01,  8.40837127e-01,  8.24081639e-01,
        7.27260982e-01,  6.81335124e-01,  7.70586173e-01,  8.69581995e-01,
        8.07069162e-01,  8.11582517e-01,  7.45088707e-01,  8.44850628e-01,
        7.54891837e-01,  7.56261264e-01,  8.89856100e-01,  8.34229231e-01,
        8.31544887e-01,  8.63615764e-01,  2.62502640e-02,  7.98121473e-01,
        6.66058865e-01,  7.10665624e-01,  5.47397170e-02,  7.39653193e-01,
       -2.44087336e-02,  8.95443371e-01,  7.82881928e-01,  6.96624490e-01,
        6.71558277e-01,  7.34747818e-01,  8.09332022e-01,  7.66869987e-01,
        7.59040501e-01,  7.04804110e-01,  8.47253214e-01,  1.48790649e-01,
        7.59806258e-01,  7.91861687e-01,  8.18828618e-01,  8.76032321e-01,
        7.25495523e-01,  8.29311410e-01,  8.75899464e-01,  8.46710735e-01,
        8.05076263e-01,  8.72678357e-01,  7.82000899e-01,  6.87920794e-01,
       -2.60030000e-02,  8.53998325e-01,  9.03619063e-01,  7.95568967e-01,
        8.50071230e-01,  7.24582203e-01,  7.74210977e-01,  8.25066455e-01,
        7.81127645e-01,  7.31631551e-01,  8.15512542e-01,  1.55215507e-01,
        8.64078009e-01,  6.57588262e-02,  8.12738289e-01,  8.78723086e-01,
        8.44174877e-01,  8.94283811e-01,  7.19805621e-01,  8.51853453e-01,
        7.99615443e-02,  7.84358319e-01,  7.61872347e-01,  8.66677365e-01,
        7.16591821e-01,  7.05573489e-01,  7.44460619e-01,  6.95806276e-02,
        6.60602180e-01,  6.63759399e-01,  7.88585504e-01,  6.78036982e-01,
        7.80524980e-01,  7.64772387e-01,  8.14979957e-01,  8.23371726e-01,
        8.67613007e-01,  7.49659130e-01,  6.73503796e-01,  8.43023593e-01,
        8.39160860e-01,  8.69476476e-01,  7.68311462e-01,  6.20235360e-01,
        8.16583318e-01,  2.42399274e-02,  3.24292661e-02,  8.22703770e-01,
        8.73601967e-01,  8.08204034e-01,  7.64661433e-01,  7.65918423e-01,
        7.88500110e-01,  8.40897415e-01,  8.68685166e-01,  8.33513680e-01,
        8.31959875e-01,  7.92492913e-01,  2.59611650e-02,  7.93097203e-01,
        7.64595210e-01,  7.83136774e-01,  7.95748672e-01,  8.22091083e-01,
        8.28181226e-01,  8.24298776e-01,  3.18684587e-02,  7.98692572e-01,
        6.68341834e-01,  7.66188096e-01,  8.34097132e-01,  6.59130349e-01,
        8.42930238e-01,  1.56649302e-01,  8.69570504e-01,  8.15579820e-01,
        8.14029576e-01,  8.93230335e-01,  7.78084536e-02,  8.21586692e-01,
        7.95055055e-01,  8.02771137e-01,  8.50728497e-01,  7.46632427e-01,
        7.41488014e-01,  6.81879886e-01,  7.53027130e-01,  3.61848790e-02,
        8.50524330e-01,  6.85007141e-01,  8.06116554e-01,  8.59276140e-01,
        7.18391474e-01,  7.20214040e-02,  7.83065920e-01,  8.86348143e-01,
        8.10938444e-01,  7.44713157e-01,  7.75597041e-01,  8.81558789e-01,
        8.33249454e-01,  6.74889674e-01,  7.86820254e-01,  7.75958936e-01,
        8.89047558e-01,  8.01622750e-01,  6.79424505e-01,  6.45300258e-02,
        8.46400006e-01,  8.43870233e-01,  7.44583068e-01,  8.19018722e-01,
        7.41568292e-01,  8.10748187e-01,  8.71235129e-01,  7.46453107e-01,
        9.66183237e-02,  8.67061602e-01,  6.70944133e-01,  5.43954558e-02,
        1.49441785e-01,  7.04140297e-01,  5.76727862e-01,  7.34442107e-01,
        7.46476196e-01,  7.81462388e-01,  7.90325684e-01,  7.15776972e-01,
        1.53835815e-01,  1.41491283e-01,  7.37230757e-01,  7.53446429e-01,
        4.62725492e-02,  7.64521250e-01,  5.78762513e-02,  8.10495471e-01,
        7.87270288e-01,  6.60986289e-01,  8.17871050e-01,  8.40619277e-01,
        8.40612043e-01,  3.39738136e-02,  8.62307385e-01,  1.59529435e-01,
        8.74507834e-01,  8.02412360e-01,  7.17826067e-01,  8.65840192e-01,
        8.51999656e-01,  7.49226855e-01,  7.78914569e-01,  4.04666820e-02,
        6.90469197e-01,  8.29959999e-01,  7.81355533e-01,  8.88973678e-01,
        7.60794424e-01,  8.55591122e-01,  5.14798835e-02,  7.98229719e-01,
        6.94866318e-01,  8.13670037e-01,  6.85945117e-01,  7.83016213e-01,
        6.47985503e-01,  8.33294462e-01,  7.93930405e-01,  8.48425767e-01,
        1.16769474e-01,  5.56084016e-01,  6.52021985e-02,  7.16730588e-01,
        1.08853998e-01,  1.36469808e-01,  7.72500184e-01,  8.74238690e-01,
        8.75500470e-01,  8.36021847e-01,  7.49846081e-01,  8.51958786e-01,
        6.96031411e-01,  9.07821403e-01,  8.13803008e-01,  7.19783156e-01,
        5.58543023e-02,  7.41610706e-01,  1.31330066e-01,  8.72142340e-01,
        8.00543353e-01,  8.54720073e-01,  8.31785903e-01,  8.18428821e-02,
        8.78037745e-01,  6.88443298e-01,  7.00149680e-01,  8.44264620e-01,
        8.30260543e-01,  1.35101160e-01,  8.61267710e-01,  8.60143377e-01,
        6.93585962e-01,  7.96110297e-01,  8.26166854e-01,  8.33853678e-01,
        8.37071027e-01,  7.59036940e-01,  5.33669008e-02,  7.87160785e-01,
        8.37413985e-01,  7.87099598e-01,  5.66162224e-01,  6.77482124e-01,
        6.86123634e-01,  6.99369334e-01,  1.12743096e-01,  9.07577819e-01,
        7.68731713e-01,  7.76631383e-01,  8.69019213e-01, -2.93270442e-02,
        7.15966362e-01,  7.84434805e-01,  7.91917331e-01,  6.19722664e-01,
        7.88992929e-01,  7.77335893e-01,  6.15638303e-01,  7.82308929e-01,
        8.26314387e-01,  8.28274284e-01,  6.76698975e-01,  8.11178045e-01,
        8.55928582e-01,  8.28618660e-01,  6.60690163e-01,  8.16028325e-01,
        8.58671426e-01,  6.81238114e-02,  7.25738855e-01,  7.08846062e-01,
        8.08628490e-01,  7.77243865e-01,  8.49632048e-01,  6.90247400e-01,
        7.34596346e-01,  7.86694917e-01,  8.61920390e-01,  6.72555097e-02,
        6.97020558e-01,  6.98477679e-01,  6.51879677e-01,  8.93048219e-01,
        4.52577079e-02,  6.37925881e-01,  7.42556862e-01,  6.61735823e-01,
        7.84427642e-01,  7.72468032e-01,  7.91021361e-01,  8.68234327e-01,
        8.70510422e-01,  7.28599373e-02,  7.90408081e-01,  7.89918382e-01,
        7.02153947e-01,  8.15295891e-01,  7.44679221e-01,  7.20789916e-01,
        7.40392475e-02,  8.26903087e-01,  1.35877649e-01,  7.55848692e-01,
        8.37638092e-01,  6.22310079e-02,  1.09075876e-01,  8.80608489e-01,
        6.76286234e-01,  8.38425183e-01,  8.22876390e-01,  8.39965325e-01,
        8.06766335e-01,  7.63978005e-01,  8.01619950e-01,  6.96655201e-01,
        1.38479793e-01,  6.70414880e-01,  7.89167176e-01,  1.20964797e-01,
        8.23847989e-01,  1.48014527e-01,  8.44167407e-01,  1.38749557e-01,
        8.51130080e-01,  7.61210790e-01,  8.65825524e-01,  9.11547994e-01,
        1.22563992e-01,  7.52552686e-01,  8.29124832e-01,  7.37006052e-01,
        8.46779031e-01,  4.65350847e-01,  9.00403055e-01,  7.50407197e-01,
        1.11250693e-01,  8.36370814e-01,  8.63446081e-01,  7.29988366e-01,
        7.68440287e-01,  1.59088124e-01,  8.63573595e-01,  8.58939728e-01,
        7.30528046e-01,  8.26666515e-01,  8.45814623e-01,  6.86236006e-01,
        7.64527103e-01,  5.76351725e-02,  8.31983417e-01,  8.65040573e-01,
        2.59256544e-01,  7.45700830e-01,  8.86574665e-01,  6.90767588e-01,
        7.86781640e-01,  7.88495676e-01,  8.25316215e-01,  7.67421544e-01,
        8.28418314e-01,  7.76765164e-01,  8.98157892e-01,  8.43823627e-01,
        8.67824329e-01,  6.50658140e-02])

In [ ]:
from sklearn.metrics import accuracy_score

accuracy_score(y_train, y_pred.round())

0.8127035830618893

In [ ]:
lr.score(X_train, y_train)

0.3098318892624502

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

mean_absolute_error(y_train, y_pred)

0.2971359639514148

##### **LogisticRegression**

In [ ]:
from sklearn.linear_model import LogisticRegression

##### **SupportVectorMachines**

In [ ]:
from sklearn.svm import SVC

svm = SVC()

svm.fit(X_train, y_train)

SVC()

In [ ]:
# Model Score

svm.score(X_train, y_train)

0.6921824104234527

In [ ]:
# Prediction

y_pred = svm.predict(pl)

In [ ]:
# Valuation Score

svm.score(pl, y_pred)

1.0

##### Lesson Learnt

    Lesson Learnt - 

    model.score(X,y)
            -->> predicts the target value for X_df under hood, and compares that under_hood_predicted_value with the "y"

##### **kNearestNeighbors**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
# Model Score

knn.score(X_train, y_train)

0.7296416938110749

In [ ]:
# Prediction

y_pred = knn.predict(pl)

In [ ]:
# Valuation Score

knn.score(pl, y_pred)

1.0

##### **DecisionTreeClassifier**

In [ ]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()

tree.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
# Model Score

tree.score(X_train, y_train)

1.0

In [ ]:
# Prediction

y_pred = tree.predict(pl)

In [ ]:
# Valuation Score

tree.score(pl, y_pred)

1.0

##### **RandomForestClassifier**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()

rfc.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
# Model Score

rfc.score(X_train, y_train)

1.0

In [ ]:
# Prediction

y_pred = rfc.predict(pl)

In [ ]:
# Valuation Score

rfc.score(pl, y_pred)

1.0

##### **AdaBoostClassifier**

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

ada = AdaBoostClassifier()

ada.fit(X_train, y_train)

AdaBoostClassifier()

In [ ]:
# Model Score

ada.score(X_train, y_train)

0.8436482084690554

In [ ]:
# Prediction

y_pred = ada.predict(pl)

In [ ]:
# Valuation Score

ada.score(pl, y_pred)

1.0

##### **GradientBoostingClassifier**

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

grad = GradientBoostingClassifier()

grad.fit(X_train, y_train)

GradientBoostingClassifier()

In [ ]:
# Model Score

grad.score(X_train, y_train)

0.8794788273615635

In [ ]:
# Prediction

y_pred = grad.predict(pl)

In [ ]:
# Valuation Score

grad.score(pl, grad.predict(pl))

1.0

##### **XGBClassifier**

In [ ]:
import xgboost
from xgboost import XGBClassifier

xgb = XGBClassifier()

xgb.fit(X_train, y_train)

XGBClassifier()

In [ ]:
# Model Score

xgb.score(X_train, y_train)

0.8534201954397395

In [ ]:
# Prediction

y_pred = xgb.predict(pl)

In [ ]:
# Valuation Score

xgb.score(pl, y_pred)

1.0

##### **Gobbledygook**

##### **Model Selected**

**The selected model based on model score (model.score) is RandomForestClassifier, whose training score was 1**

##### **Deployment**

In [ ]:
# Pckle dump

import pickle

pickle.dump(rfc, open("model_rfc.pkl", "wb"))

In [ ]:
# Pydantic

# !pip install pydantic
from pydantic import BaseModel

class Customer_details(BaseModel):
  Gender             : str
  Married            : str
  Dependents         : int
  Education          : str
  Self_Employed      : str
  ApplicantIncome    : float
  CoapplicantIncome  : float
  LoanAmount         : float
  Loan_Amount_Term   : float
  Credit_History     : float
  Property_Area      : str

  class Config:
    schema_extra = {
        "example" : {
            "Gender"            : "Male",
            "Married"           : "No",
            "Dependents"        : 0,
            "Education"         : "Graduate",
            "Self_Employed"     : "Yes",
            "ApplicantIncome"   : 3564,
            "CoapplicantIncome" : 5482,
            "LoanAmount"        : 265.0,
            "Loan_Amount_Term"  : 258.0,
            "Credit_History"    : 1,
            "Proprty_Area"      : "Urban"
        }
    }

In [ ]:
# FastAPI

!pip install fastapi
from fastapi import FastAPI

app = FastAPI()

@app.on_event("startup")
def load_model():                                   # path.operation.functiuno
  global model
  model = pickle.load(open("model_rfc.pkl", "rb"))

@app.get("/")
def index():
  return {"message" : "Homepage of API"}

@app.post("predict")
def get_customer_details(data: Customer_details):
  received = data.dict()
  Gender  =  received["Gender"]
  Married  =  received["Married"]
  Dependents  =  received["Dependents"]
  Education  =  received["Education"]
  Self_Employed  =  received["Self_Employed"]
  ApplicantIncome  =  received["ApplicantIncome"]
  CoapplicantIncome  =  received["CoapplicantIncome"]
  LoanAmount  =  received["LoanAmount"]
  Loan_Amount_Term  =  received["Loan_Amount_Term"]
  Credit_History  =  received["Credit_History"]
  Property_Area  =  received["Property_Area"]

  pred_name = model.predict([[Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term, Credit_History, Property_Area]]).tolist()[0]
  return {"prediction" : pred_name}

Requirement already satisfied: fastapi in /usr/local/lib/python3.7/dist-packages (0.70.0)
Requirement already satisfied: starlette==0.16.0 in /usr/local/lib/python3.7/dist-packages (from fastapi) (0.16.0)
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from fastapi) (1.8.2)
Requirement already satisfied: anyio<4,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.16.0->fastapi) (3.4.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from starlette==0.16.0->fastapi) (3.10.0.2)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.0.0->starlette==0.16.0->fastapi) (1.2.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.0.0->starlette==0.16.0->fastapi) (2.10)

In [ ]:
# ColabCode

!pip install colabcode

from colabcode import ColabCode

server = ColabCode(port = 15000, code=False)

Requirement already satisfied: colabcode in /usr/local/lib/python3.7/dist-packages (0.3.0)
Requirement already satisfied: nest-asyncio==1.4.3 in /usr/local/lib/python3.7/dist-packages (from colabcode) (1.4.3)
Requirement already satisfied: uvicorn==0.13.1 in /usr/local/lib/python3.7/dist-packages (from colabcode) (0.13.1)
Requirement already satisfied: pyngrok>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from colabcode) (5.1.0)
Requirement already satisfied: jupyterlab==3.0.7 in /usr/local/lib/python3.7/dist-packages (from colabcode) (3.0.7)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (21.3)
Requirement already satisfied: jupyterlab-server~=2.0 in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (2.8.2)
Requirement already satisfied: jupyter-server~=1.2 in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (1.12.1)
Requirement already satisfied: jinja2>=2.10 in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (2.11.3)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (5.5.0)
Requirement already satisfied: nbclassic~=0.2 in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (0.3.4)
Requirement already satisfied: tornado>=6.1.0 in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (6.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from jupyterlab==3.0.7->colabcode) (4.9.1)
Requirement already satisfied: h11>=0.8 in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.13.1->colabcode) (0.12.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.13.1->colabcode) (3.10.0.2)
Requirement already satisfied: click==7.* in /usr/local/lib/python3.7/dist-packages (from uvicorn==0.13.1->colabcode) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.10->jupyterlab==3.0.7->colabcode) (2.0.1)
Requirement already satisfied: Send2Trash in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.8.0)
Requirement already satisfied: anyio<4,>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (3.4.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.2.0)
Requirement already satisfied: jupyter-client>=6.1.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (6.1.12)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (21.1.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.12.1)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.2.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.12.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (5.1.3)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (5.6.1)
Requirement already satisfied: traitlets>=4.2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (5.1.1)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (22.3.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.1.0->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.1.0->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from jupyter-client>=6.1.1->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.8.2)
Requirement already satisfied: json5 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (0.9.6)
Requirement already satisfied: jsonschema>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (4.2.1)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2.23.0)
Requirement already satisfied: babel in /usr/local/lib/python3.7/dist-packages (from jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2.9.1)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (5.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (21.2.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (4.8.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.0.1->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (3.6.0)
Requirement already satisfied: notebook<7 in /usr/local/lib/python3.7/dist-packages (from nbclassic~=0.2->jupyterlab==3.0.7->colabcode) (5.3.1)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.7/dist-packages (from notebook<7->nbclassic~=0.2->jupyterlab==3.0.7->colabcode) (4.10.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok>=5.0.0->colabcode) (3.13)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->jupyter-client>=6.1.1->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.15.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.7/dist-packages (from terminado>=0.8.3->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.7.0)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from argon2-cffi->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.0->argon2-cffi->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (2.21)
Requirement already satisfied: pytz>=2015.7 in /usr/local/lib/python3.7/dist-packages (from babel->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2018.9)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (0.8.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (57.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (1.0.18)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->jupyterlab==3.0.7->colabcode) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->jupyterlab==3.0.7->colabcode) (0.2.5)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (1.5.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.7.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (4.1.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.5.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.8.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert->jupyter-server~=1.2->jupyterlab==3.0.7->colabcode) (0.5.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->jupyterlab==3.0.7->colabcode) (3.0.6)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->jupyterlab-server~=2.0->jupyterlab==3.0.7->colabcode) (2021.10.8)

In [ ]:
server.run_app(app = app)

INFO:     Started server process [259]
INFO:     Waiting for application startup.
INFO:     Application startup complete.
INFO:     Uvicorn running on http://127.0.0.1:15000 (Press CTRL+C to quit)

Public URL: NgrokTunnel: "https://ed07-34-74-185-160.ngrok.io" -> "http://localhost:15000"
INFO:     42.111.144.75:0 - "GET / HTTP/1.1" 200 OK
INFO:     42.111.144.75:0 - "GET /favicon.ico HTTP/1.1" 404 Not Found
INFO:     42.111.144.75:0 - "GET /docs HTTP/1.1" 200 OK
INFO:     42.111.144.75:0 - "GET /openapi.json HTTP/1.1" 200 OK

INFO:     Shutting down
INFO:     Waiting for application shutdown.
INFO:     Application shutdown complete.
INFO:     Finished server process [259]